html, body {
  margin: 0;
  height: 100%;
}

footer {
  bottom: 0;
  width: 100%;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.section {
  padding: 7rem 0;
}

#portfolio-grid {
  margin-top: 1rem;
}

#map {
  border: 1px;
  margin-top: 1rem;

}